<!DOCTYPE html>
<head>
    <!-- Copyright © Michael Carrier 2021 All Rights Reserved -->
    <meta content="noindex" name="robots" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Git-BTC</title>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
    <div id="tradingview_68f30">&nbsp;</div>
    
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSD/?exchange=COINBASE" rel="noopener" target="_blank"><span class="blue-text">BTCUSD Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script><script type="text/javascript">
        new TradingView.widget
        (
            {
            "autosize": true,
            "symbol": "COINBASE:BTCUSD",
            "timezone": "Etc/UTC",
            "theme": "dark",
            "style": "1",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": true,
            "range": "15M",
            "allow_symbol_change": false,
            "calendar": true,
            "container_id": "tradingview_68f30"
            }
        );
        </script></div>
    <!-- TradingView Widget END -->
    <!--Navigation Bar -->
</head>