<div class="container">
    <p> Hello {{ session.fn }} {{ session.ln }} </p>
  <h2>Strategy Selection</h2>
    {% block content %}
    <form action="/strategy_vector" method="post">
    <div class="well">Choose Your Crypto</br>
        <input type="radio" name="crypto" value="1" required > BTC
        <input type="radio" name="crypto" value="2" required> ETHE
        <input type="radio" name="crypto" value="3" required> DOGE
    </div       
    </br>   
    <div class="well">Strategy</br>
        <input type="radio" name="pstrategy" value="1" required> Crossover
        <input type="radio" name="pstrategy" value="2" required> RSI 
    </div>
  
    <div class="well">Duration</br>
        <input type="radio" name="sstrategy" value="1" required> Short
        <input type="radio" name="sstrategy" value="2" required> Medium
        <input type="radio" name="sstrategy" value="3" required> Long
    </div>
    <input type="submit" value="Submit">
    </form>
    {% endblock %}
</div> <!--Container -->