{% include './head/header.html' %}
{% include './head/navbar.html' %}
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    },
    {
      "description": "DOGE/USD",
      "proName": "BITFINEX:DOGEUSD"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "showSymbolLogo": false,
  "locale": "en"
}
  </script>
</div>
<br>
<d>Hello {{  session.fn  }}</d>
{% block content %}
<form action="/kill" method="post">
<p>To end current script type 'kill' and submit</p>
<label for="kill"></label> <input id="kill" name="kill" type="text" required />
<br />                
<br>
<br />   
<input type="submit" value="Submit" />&nbsp;                
</form>
{% endblock %}
<!-- TradingView Widget END -->